doctype html
html
	head
		link(rel='stylesheet', href='stylesheets/shared.css')
		
		script(src="https://extension-files.twitch.tv/helper/v1/twitch-ext.min.js")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		
	body
		p.
			This is the live dashboard panel