doctype html
html
	head
		link(rel='stylesheet', href='stylesheets/shared.css')
		
		script(src="https://extension-files.twitch.tv/helper/v1/twitch-ext.min.js")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(src="scripts/libs/socket.io.2.0.4.js")
		script(src="scripts/viewer.js")
		
		
	body
		p.
			This is the main view (overlay/panel/component)